<div class="sidemenu">
    <a href="Home/Index" target="_blank" class="sidemenu__link sidemenu__link--website"><i class="fas fa-globe-asia"></i> K42Shop</a>

    <a href="#" class="sidemenu__link "><i class="fas fa-shipping-fast"></i> Đơn hàng </a>
    <a href="#" class="sidemenu__link "><i class="fas fa-laptop"></i> Sản phẩm </a>
    <a href="#" class="sidemenu__link "><i class="fas fa-user"></i> Khách hàng </a>
    <a href="#" class="sidemenu__link "><i class="fas fa-chart-pie"></i> Thống kê </a>
    <a href="#" class="sidemenu__link "><i class="fas fa-user-tie"></i> Quản trị </a>
    <a href="#" class="sidemenu__link "><i class="fas fa-cog"></i> Cài đặt </a>
    <a href="#" class="sidemenu__link sidemenu__link--logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất </a>
</div>