<div class="sidemenu">
    <a asp-controller="Home" asp-action="Index" target="_blank" class="sidemenu__link sidemenu__link--website"><i class="fas fa-globe-asia"></i> K42Shop</a>

    <a asp-controller="Admin" asp-action="OrdersOverview" class="sidemenu__link "><i class="fas fa-shipping-fast"></i> Đơn hàng </a>
    <a asp-controller="Admin" asp-action="ProductsOverview" class="sidemenu__link "><i class="fas fa-laptop"></i> Sản phẩm </a>
    <a asp-controller="Admin" asp-action="UsersOverview" class="sidemenu__link "><i class="fas fa-user"></i> Khách hàng </a>
    <a asp-controller="Admin" asp-action="Report" class="sidemenu__link "><i class="fas fa-chart-pie"></i> Thống kê </a>
    <a asp-controller="Admin" asp-action="AdminsOverview" class="sidemenu__link "><i class="fas fa-user-tie"></i> Quản trị </a>
    <a asp-controller="Admin" asp-action="Setting" class="sidemenu__link "><i class="fas fa-cog"></i> Cài đặt </a>
    <a href="https://dashboard.tawk.to/?lang=vi#/chat" class="sidemenu__link "><i class="fas fa-cog"></i> Chat </a>
    <a asp-controller="Admin" asp-action="Login" class="sidemenu__link sidemenu__link--logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất </a>
</div>