
@{
    ViewData["Title"] = "Trình quản lý website K42Shop";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}

<div class="container-fluid index">
    <table>
        <tr>
            <th>MSSV</th>
            <th>Họ và tên</th>
            <th>Công việc</th>
        </tr>
        <tr>
            <td>41.01.104.056</td>
            <td>Nguyễn Hữu Lộc</td>
            <td>
                <ol>
                    <li>Tạo giao diện trang giỏ hàng <strong>(done)</strong></li>
                    <li>Tạo giao diện trang thanh toán</li>
                    <li>Tạo giao diện trang thông tin người dùng</li>
                    <li>Tạo giao diện trang theo dõi đơn hàng của người dùng</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>42.01.104.055</td>
            <td>Hoàng Công Minh Huy</td>
            <td></td>
        </tr>
        <tr>
            <td>42.01.104.067</td>
            <td>Cao Quang Khải</td>
            <td>
                <ol>
                    <li>Thêm dữ liệu các bảng trong database </li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>42.01.104.122</td>
            <td>Huỳnh Trương Chí Quân</td>
            <td>
                <ol>
                    <li>Tạo giao diện trang chủ <strong>(done)</strong></li>
                    <li>Tạo giao diện trang tìm kiếm sản phẩm <strong>(done)</strong></li>
                    <li>Tạo giao diện trang chi tiết sản phẩm <strong>(done)</strong></li>
                    <li>Tạo giao diện trang chủ trình quản lý website</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>42.01.104.137</td>
            <td>Nguyễn Ngọc Như Sương</td>
            <td>
                <ol>
                    <li>Xử lý đăng nhập admin</li>
                </ol>
            </td>
        </tr>
    </table>
</div>

