@model Web42Shop.Models.Admin
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Trình quản lý website</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/bootstrap4/css/bootstrap.css">
    <link rel="stylesheet" href="~/fas/css/all.css">
    <link rel="stylesheet" href="~/css/atomic.css">
    <link rel="stylesheet" href="~/css/admin.css">
</head>
<body style="background-image: url('https://nhandaovadoisong.com.vn/wp-content/uploads/2019/05/hinh-anh-em-be-de-thuong-14.jpg'); background-size: cover; box-sizing:border-box;">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <form asp-controller="#" asp-action="#" class="login_form">
                    <h3>K42Shop</h3>
                    <div class="form-group">
                         <label for="Username"><i class="fas fa-user"></i> Tên đăng nhập</label>
                       
                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Username" ,@type = "text", @id = "Username" })
                        @Html.ValidationMessageFor(x => x.Username)
                    </div>
                    <div class="form-group">
                        <label for="Password"><i class="fas fa-lock"></i> Mật khẩu</label>
                      
                        @Html.TextBoxFor(x => x.Password, new { @type = "password", @id = "Password", @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    
                    <button type="submit">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
