
@{
    ViewData["Title"] = "Sản phẩm của K42Shop";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}

<div class="container-fluid overview">
    <p class="overview__title">Sản phẩm của K42Shop</p>
    <a asp-controller="Admin" asp-action="ProductsNew" class="overview__button overview__button--new"><i class="fas fa-plus"></i>Thêm sản phẩm</a>
    <table class="overview__table overview__table--products">
        <tr>
            <th>Tên</th>
            <th>Giá gốc</th>
            <th>Khuyến mãi</th>
            <th>Giá bán ra</th>
            <th>Số lượng</br>trong kho</th>
            <th><i class="fas fa-eye"></i></th>
            <th><i class="fas fa-shopping-cart"></i></th>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">Laptop ASUS</a></td>
            <td>13,000,000 VNĐ</td>
            <td>0%</td>
            <td>13,000,000 VNĐ</td>
            <td>100</td>
            <td>1233</td>
            <td>850</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">Laptop SONY</a></td>
            <td>23,000,000 VNĐ</td>
            <td>0%</td>
            <td>23,000,000 VNĐ</td>
            <td>100</td>
            <td>1233</td>
            <td>850</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">Laptop DELL</a></td>
            <td>33,000,000 VNĐ</td>
            <td>0%</td>
            <td>33,000,000 VNĐ</td>
            <td>100</td>
            <td>1233</td>
            <td>850</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">Laptop Macbook</a></td>
            <td>43,000,000 VNĐ</td>
            <td>0%</td>
            <td>43,000,000 VNĐ</td>
            <td>100</td>
            <td>1233</td>
            <td>850</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">Laptop Lenovo</a></td>
            <td>10,000,000 VNĐ</td>
            <td>0%</td>
            <td>10,000,000 VNĐ</td>
            <td>100</td>
            <td>1233</td>
            <td>850</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">ASUS Zenphone</a></td>
            <td>13,000,000 VNĐ</td>
            <td>0%</td>
            <td>13,000,000 VNĐ</td>
            <td>100</td>
            <td>233</td>
            <td>50</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">Motorzolla</a></td>
            <td>3,000,000 VNĐ</td>
            <td>0%</td>
            <td>3,000,000 VNĐ</td>
            <td>100</td>
            <td>233</td>
            <td>50</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">BPhone Plus</a></td>
            <td>25,000,000 VNĐ</td>
            <td>0%</td>
            <td>25,000,000 VNĐ</td>
            <td>100</td>
            <td>233</td>
            <td>50</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">Samsung Galaxy J7</a></td>
            <td>5,000,000 VNĐ</td>
            <td>0%</td>
            <td>5,000,000 VNĐ</td>
            <td>100</td>
            <td>233</td>
            <td>50</td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ProductsOverview">Nokia Lumia 1280</a></td>
            <td>3,000,000 VNĐ</td>
            <td>0%</td>
            <td>3,000,000 VNĐ</td>
            <td>100</td>
            <td>233</td>
            <td>50</td>
        </tr>
    </table>

    <div class="row">
        <div class="container txt-center w100">
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi pagi--active">1</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">2</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">3</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">4</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">5</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">6</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">7</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">8</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">9</a>
        </div>
    </div>
</div>

