
@{
    ViewData["Title"] = "UsersOverview";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}

<div class="container-fluid overview">
    <p class="overview__title">Khách hàng đã đăng ký</p>
    <table class="overview__table overview__table--users">
        <tr>
            <th>Mã</th>
            <th>Họ</th>
            <th>Họ đệm</th>
            <th>Tên</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Điểm tích lũy</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Huỳnh Trương</td>
            <td>Chí</td>
            <td>Quân</td>
            <td>pthyst@gmail.com</td>
            <td>01265991251</td>
            <td>100</td>
            <td><a asp-controller="Admin" asp-action="UsersOverview">Chi tiết</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cao</td>
            <td>Quang</td>
            <td>Khải</td>
            <td>khaicq.0604@gmail.com</td>
            <td>0967xxxxxx</td>
            <td>99</td>
            <td><a asp-controller="Admin" asp-action="UsersOverview">Chi tiết</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Phạm</td>
            <td>Gia</td>
            <td>Lập</td>
            <td>phamlap.rikan@gmail.com</td>
            <td>0834912xxx</td>
            <td>98</td>
            <td><a asp-controller="Admin" asp-action="UsersOverview">Chi tiết</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Hoàng</td>
            <td>Công Minh</td>
            <td>Huy</td>
            <td>nguyenhuyhoang@gmail.com</td>
            <td>0765657765</td>
            <td>97</td>
            <td><a asp-controller="Admin" asp-action="UsersOverview">Chi tiết</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Trần</td>
            <td>Nguyên</td>
            <td>Phương</td>
            <td>phuongnguyentran@gmail.com</td>
            <td>01265991252</td>
            <td>96</td>
            <td><a asp-controller="Admin" asp-action="UsersOverview">Chi tiết</a></td>
        </tr>
    </table>

    <div class="row">
        <div class="container txt-center w100">
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi pagi--active">1</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">2</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">3</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">4</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">5</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">6</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">7</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">8</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">9</a>
        </div>
    </div>
</div>

