<header class="sticky">
    <div class="container">
        <div class="row">
            <div class="col-3 txt-left">
                <a href="#" class="iblck header__logo">K42Shop</a>
            </div>
            <div class="col-6 txt-center">
                <form action="~/Products/SearchProducts/" method="get">
                    <input type="text" placeholder="Tìm tên sản phẩm" name="key_s">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="col-3 txt-right">
                <a href="#" class="iblck header__icon"><i class="fas fa-user"></i></a>
                <a href="#" class="iblck header__icon"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="iblck header__icon"><i class="fas fa-shipping-fast"></i></a>
            </div>
        </div>
    </div>
</header>