<div class="container-fluid topmenu sticky">
    <div class="container txt-center">

        <div class="topmenu__href topmenu__href--dropdown">
            <a href="#">Laptop <i class="fas fa-caret-down"></i></a>
            <div class="iblck mrg0 padd0 txt-center topmenu__submenu">
                <a href="#" class="iblck">Dell</a>
                <a href="#" class="iblck">Lenovo</a>
                <a href="#" class="iblck">SONY</a>
                <a href="#" class="iblck">Macbook</a>
                <a href="#" class="iblck">HP</a>
            </div>
        </div>

        <a href="#" class="topmenu__href">Di động</a>
        <a href="#" class="topmenu__href">Máy tính bảng</a>
        <a href="#" class="topmenu__href">Workstation</a>
        <a href="#" class="topmenu__href">Headphone</a>
        <a href="#" class="topmenu__href">Loa Bluetooth</a>

        <div href="#" class="topmenu__href topmenu__href--dropdown">
            <a href="#">Chuột <i class="fas fa-caret-down"></i></a>
            <div class="iblck mrg0 padd0 txt-center topmenu__submenu">
                <a href="#" class="iblck">Có dây</a>
                <a href="#" class="iblck">Không dây</a>
                <a href="#" class="iblck">Bluetooth</a>
                <a href="#" class="iblck">Gaming</a>
            </div>
        </div>

        <div href="#" class="topmenu__href topmenu__href--dropdown">
            <a href="#">Bàn phím <i class="fas fa-caret-down"></i></a>
            <div class="iblck mrg0 padd0 txt-center topmenu__submenu">
                <a href="#" class="iblck">Có dây</a>
                <a href="#" class="iblck">Không dây</a>
                <a href="#" class="iblck">Bluetooth</a>
                <a href="#" class="iblck">Gaming</a>
                <a href="#" class="iblck">Bàn phím cơ</a>
                <a href="#" class="iblck">Bàn phím giả cơ</a>
            </div>
        </div>

    </div>
</div>