<div class="container-fluid topmenu sticky">
    <div class="container txt-center">

        @{
            int n = Model.ProductTypes.Count;
            for (int i = 0; i <= 7; i++)
            {
                var type = Model.ProductTypes[i];
                <a asp-controller="Home" asp-action="Index" class="topmenu__href">@type.Type</a>
            }

        }


        <div class="topmenu__href topmenu__href--dropdown">
            <a href="#">Khác<i class="fas fa-caret-down"></i></a>
            <div class="iblck mrg0 padd0 txt-center topmenu__submenu">
                @{
                    for (int i = 8; i < n; i++)
                    {
                        var type = Model.ProductTypes[i];
                        <a asp-controller="Home" asp-action="Index" class="iblck">@type.Type</a>
                    }
                }
            </div>
        </div>


    </div>
</div>